<h2 id=about>About this project</h2>
<p>L’objectif de  ce projet est de  construire la partie métier/persitance d’une application
  type  réseau  social  permettant  de  comparer  sa  consommation  électrique  avec  ses
  amis, ses voisins, ... dans la lignée de opower.
  OPower  est  une  société  américaine  qui  est  fondée  sur  un  principe  de  base  déjà
  porteur  :  grâce  à  son  logiciel,  il  permet  aux  consommateurs  de  maîtriser  leur
  consommation d’énergie. En effet, il travaille conjointement avec des fournisseurs de
  services  publics  (électricité,  gaz,  téléphone,  etc.)  pour  promouvoir  l'efficacité
  énergétique.  Mais  lorsqu’il  se  met  à  surfer  sur  la  vague  Facebook,  Opower  fait  de
  l’économie d’énergie un jeu... qui pourrait séduire ses clients !
  Opower  a  créé  une  application  (liée  à  Facebook)  qui  permet  de  suivre  sa
  consommation  électrique  dans le  cadre  d’un  réseau  social. Ainsi les  consommateurs
  peuvent  comparer  leur  consommation  d’électricité  avec  celle  de  ses  voisins  sur  le
  réseau social... De l’économie d’énergie ludique !
  Pour  ce  faire,  le  modèle  métier  est  assez  simple,  il  utilise  le  concept  de  Personne
  ayant un nom un prénom, un mail, une ou plusieurs  résidence. Chaque  résidence a
  une taille, un nombre de pièce, des chauffages, des équipements
  équipements ont une consommation moyenne en Watt/h.</p>
